.timer {
  display: grid;
  grid-auto-flow: column;
  gap: 0.75rem;
}

.timer input {
  font-size: 2.5em;
  font-family: monospace;
  text-align: right;
  width: 5.25em;
}

.timer button {
  font-weight: bolder;
  width: 4.5ch;
}
