.stopwatch {
  display: grid;
  grid-auto-flow: column;
  gap: 0.75rem;
}

.stopwatch input {
  font-size: 3em;
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
    "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace;
  text-align: right;
  width: 5.25em;
}

.stopwatch button {
  font-weight: bolder;
}
