.stopwatch {
  align-items: center;
  display: flex;
  gap: 1.5em;
}

.display {
  cursor: pointer;
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
    "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace;
  font-size: 3em;
  font-weight: normal;
  opacity: 1;
}

.controls {
  align-items: center;
  display: flex;
  gap: 0.5em;
}
